<h2>Hello</h2>
<p>My name is Paul M’Biaka, and this is my personal site.</p>

<h2>About</h2>
<p> I am a passionate software developer living in Toulouse. I mostly code in Java, sometimes in Scala and I’m curious about technology in general. I also maintain some projects on my Github.</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-envelope fa-lg main-list-item-icon"></span>
    <a href="mailto:paul@nullpointer.fr">Mail</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-twitter fa-lg main-list-item-icon"></span>
    <a href="http://twitter.com/Paul__MB">Tweets</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/PaulMB">Code</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-linkedin fa-lg main-list-item-icon"></span>
    <a href="https://fr.linkedin.com/in/paul-m-biaka-114b39a5">Work</a>
  </li>
</ul>
